body{
    color: cadetblue;
}

p{
 font-size: 30px;
}

h2{
    font-size: 50px;
}

@media (max-width:500px){
   body{
       color:darkblue;
   }

   h2{
       font-size:30px
   }

   p{
       font-size:20px
   }
} 


